:root {
  --font-base: #264653;
  --font-base-lighter: #2f5768;

  --font-orange-base: #ec994b;
  --font-orange-lighter: #f3c191;

  --font-red-base: #990000;
  --font-red-lighter: #cf2929;

  --font-white-lighter: #FFFFFF;

  --font-black-base: #060707;

  --font-background-base: #f4f8fa;
  --font-background-grayisOrange: #fbf6ec;
}
